<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Splatoon Calculator</h1>
  </div>
</header>

<div class="container">
<div class="col-md-6">
  <h2 class="page-header">Choose Your abilities</h2>      
      <ul class="col-xs-3" ng-repeat="ability in abl">
        <a href="javascript:"><img tooltip="After today restriction" ng-src="{{ability.icon}}" alt="{{ability.name}}" ng-click="activate(ability)"/></a>
      </ul>
      </a>
      <button type="button" class="btn btn-default btn-lg" ng-click="clear()">RESET</button>
      <h1 >Mains:</h1>
      <a href="javascript:">
      <img ng-repeat="main in mains track by $index" ng-src="{{main.icon}}" alt="{{main.name}}"
      ng-click="demain(main)" />
      </a>
      <h2 >Subs:</h2> 
      <a href="javascript:">
      <img ng-repeat="sub in subs track by $index" ng-src="{{sub.icon}}" alt="{{sub.name}}" ng-click="desub(sub)"/>
      </a>
     <h2>Abilities:</h2> 
     <img ng-repeat="main in mains track by $index" ng-src="{{main.icon}}" alt="{{main.name}}" ng-hide="{{main.stackable}}"/>
     <p></p>
     <h5 ng-repeat="main in mains track by $index" ng-hide="{{main.stackable}}">{{main.name}}:  {{main.effects}}</h5>
</div>


<div class="col-md-6">
  <h2 class="page-header">Stats</h2>      
  <a class="col-md-6" ng-repeat="stat in stats">
  <p>{{stat.name}}</p>
  <progressbar max="stat.max" value="stat.value"><span style="color:black; white-space:nowrap;">{{stat.value}}{{stat.type}}</span></progressbar>
  </a>
  </div>
  </div>
</div>


<div class="container">
<div class="container">
  <h2>Possible Gear (Rolls)</h2>
  <div class="table-responsive">     
  <table class="table table-bordered">
    <thead>
      <tr>
        <th><h4>Name</h4></th>
        <th><h4>Ability</h4></th>
        <th ng-repeat="ability in abl" ng-show="{{ability.stackable}}"><img ng-class="imgtble" ng-src="{{ability.icon}}" alt="{{ability.name}}"></img>
      </tr>
    </thead>
    <tbody ng-repeat="item in clothes" ng-show="item.show">
      <tr >
        <td><h5>{{item.name}}</h5></td>
        <td ng-repeat="ability in abl" ng-show="{{ability.name == item.ability}}"><img ng-style="{padding:0, width:50, height:50 }" ng-src="{{ability.icon}}" alt="{{ability.name}}"></img></td>
        <td ng-repeat="abil in abl" ng-show="{{abil.stackable}}" ng-class="{red: item[abil.name] == '1/33', lblue: item[abil.name] == '1/16.5', blue: item[abil.name] == '1/13', green: item[abil.name] == '1/3.3'}"><h4 ng-style="{padding:5}">{{item[abil.name]}}</h4></td>
      </tr>
    </tbody>
  </table>
  </div>
</div>
</div>



<div class="container">
<div class="container">
     <h3>Headgear:</h3> 
     <a  href="http://splatoonwiki.org/wiki/{{item.uname}}" ng-repeat="item in clothes" ng-show="item.show && item.type == 'Headgear'">{{item.name}} ({{item.ability}}), </a>
     <h3>Clothes:</h3> 
     <a href="http://splatoonwiki.org/wiki/{{item.uname}}" ng-repeat="item in clothes" ng-show="item.show && item.type == 'Clothes'">{{item.name}} ({{item.ability}}), </a>
        <h3>Shoes:</h3> 
     <a href="http://splatoonwiki.org/wiki/{{item.uname}}" ng-repeat="item in clothes" ng-show="item.show && item.type == 'Shoes'" >{{item.name}} ({{item.ability}}), </a>
</div>
</div>

<footer class="footer">
  <div class="container">
      <p>Calculator for splatoon built with <a href="https://github.com/DaftMonk/generator-angular-fullstack
">yeoman fullstack generator</a> |
         <a href="https://docs.google.com/spreadsheets/d/1mE97vf8FxdfvR6pt7tFvYXkYGSZGg4AsrTI_2veUlbs/edit#gid=1453815829">Roll Information</a> |
         <a href="http://squidboards.com/threads/hard-data-gear-abilities-percentual-effects.2904/
">Ability Information</a> |
         <a href="http://splatoonwiki.org/wiki>Inkipedia">Inkipedia</a>
          | <a href="https://github.com/lolcookie/splatoon-calculator">GitHub</a>
         </p>
  </div>
</footer>

